<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avarta_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,218},{203,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,275}}</string>
                <key>sourceSize</key>
                <string>{203,275}</string>
            </dict>
            <key>avarta_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{226,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,349}}</string>
                <key>sourceSize</key>
                <string>{226,349}</string>
            </dict>
            <key>avarta_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{214,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,350}}</string>
                <key>sourceSize</key>
                <string>{214,350}</string>
            </dict>
            <key>avarta_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,709},{67,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,64}}</string>
                <key>sourceSize</key>
                <string>{67,64}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,302},{91,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,96}}</string>
                <key>sourceSize</key>
                <string>{91,96}</string>
            </dict>
            <key>btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,792},{58,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>btn_friends.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,203},{91,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,97}</string>
            </dict>
            <key>btn_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,495},{91,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,97}</string>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,778},{49,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,58}}</string>
                <key>sourceSize</key>
                <string>{49,58}</string>
            </dict>
            <key>btn_leader_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,495},{91,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,97}</string>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,482},{91,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,97}</string>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,594},{91,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,97}</string>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{188,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,199}}</string>
                <key>sourceSize</key>
                <string>{188,199}</string>
            </dict>
            <key>btn_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,594},{91,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,97}</string>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,581},{91,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,97}</string>
            </dict>
            <key>btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,400},{91,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,97}</string>
            </dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,792},{49,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,58}}</string>
                <key>sourceSize</key>
                <string>{49,58}</string>
            </dict>
            <key>btn_yellow_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,693},{91,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,97}</string>
            </dict>
            <key>btn_yellow_view.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,693},{91,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,96}}</string>
                <key>sourceSize</key>
                <string>{91,96}</string>
            </dict>
            <key>icon_cash.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,791},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>icon_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,450},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>icon_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,370},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>loading_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,203},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>loading_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,275},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>loading_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,680},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>loading_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,347},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>loading_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,493},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>loading_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,493},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>loading_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,565},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>loading_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,565},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>loading_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,637},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>loading_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,637},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>loading_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,752},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>loading_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,709},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>loading_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,709},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>loading_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,781},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>loading_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,781},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>loading_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,419},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>loading_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,491},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>loading_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,563},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>loading_error.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,635},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>paper.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,646},{113,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,100}}</string>
                <key>sourceSize</key>
                <string>{113,100}</string>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,748},{117,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,100}}</string>
                <key>sourceSize</key>
                <string>{117,100}</string>
            </dict>
            <key>scissors.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,760},{142,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,100}}</string>
                <key>sourceSize</key>
                <string>{142,100}</string>
            </dict>
            <key>ui_border_bot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,218},{262,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,125}}</string>
                <key>sourceSize</key>
                <string>{262,125}</string>
            </dict>
            <key>ui_border_bot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{237,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,225}}</string>
                <key>sourceSize</key>
                <string>{237,225}</string>
            </dict>
            <key>ui_border_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,646},{141,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,112}}</string>
                <key>sourceSize</key>
                <string>{141,112}</string>
            </dict>
            <key>ui_border_top_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,520},{249,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,124}}</string>
                <key>sourceSize</key>
                <string>{249,124}</string>
            </dict>
            <key>ui_border_top_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,252},{266,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,225}}</string>
                <key>sourceSize</key>
                <string>{266,225}</string>
            </dict>
            <key>ui_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,218},{39,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,150}}</string>
                <key>sourceSize</key>
                <string>{39,150}</string>
            </dict>
            <key>ui_panel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,419},{29,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,50}}</string>
                <key>sourceSize</key>
                <string>{29,50}</string>
            </dict>
            <key>ui_panel_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,248}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{450,248}}</string>
                <key>sourceSize</key>
                <string>{452,254}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>res.png</string>
            <key>size</key>
            <string>{1012,862}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ea33243cb0928a2d30dfe45242b8ce2:8ddc7da7c3f0196d091fcddb73d49ea8:e9a6761e0eaed6cf539663e6dc49fb27$</string>
            <key>textureFileName</key>
            <string>res.png</string>
        </dict>
    </dict>
</plist>
